.tarjet {
    width: 100%;
    max-width: 400px;
    padding-top: 60px;
    .title {
        text-align: center;
        margin-top: 24px;
        font-size: 22px;
    }
    .card {
        background-color: #EAECEE;
        padding: 10px;
        border-radius: 15px;
        .cardContent {
            display: block;
            .description {
                display: flex;
                justify-content: space-between;
                div {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                .status {
                    font-size: 25px;
                }
                .vencida,
                .Vencida {
                    color: red;
                }
                .por,
                .Por {
                    color: #3880ff;
                }
                .center {
                    margin-top: auto;
                    margin-bottom: auto;
                    .properties {
                        font-size: 25px;
                    }
                }
                .link {
                    color: #3880ff;
                    cursor: pointer;
                }
            }
        }
    }
    .viewHistoryC {
        background-color: #EAECEE;
        border-radius: 15px;
        h1 {
            margin-left: 8px;
        }
    }
}

p {
    margin: 0px;
}

.space {
    ion-col {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .center {
        text-align: center;
    }
}